<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tcrj.micro">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="23" />

    <!-- Required -->
    <permission
        android:name="com.tcrj.micro.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.tcrj.micro.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 必选 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" /> <!-- 允许程序录制音频 -->


    <!-- 可选 -->
    <uses-permission android:name="android.permission.READ_LOGS" /> <!-- 获取logcat日志 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/lunch_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme,android:name">
        <meta-data
            android:name="PGYER_APPID"
            android:value="537ba1bb00a673750540a4e377d59bb9" />

        <!-- 极光推送//////////////////////////////////////////////////////////////////////////////START -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.tcrj.micro" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.tcrj.micro.DataProvider"
            android:exported="true" />

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.tcrj.micro" />
            </intent-filter>
        </service>

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required  显示通知栏 -->
                <category android:name="com.tcrj.micro" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />
        <!-- 推送模块自定义部分 -->
        <activity android:name=".jpush.PushMessageActivity" />

        <receiver
            android:name=".jpush.JPushReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.tcrj.micro" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="00dc96a1d77c8a619d531a22" />
        <!-- 极光推送//////////////////////////////////////////////////////////////////////////////END -->

        <activity android:name=".activity.MainActivity1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.news.NewsListActivity" />
        <activity android:name=".activity.news.NewsDetailActivity" />
        <activity android:name=".activity.news.StudentActivity" />
        <activity android:name=".activity.news.StudentListActivity" />
        <activity android:name=".activity.news.StudentDetailActivity" />
        <activity android:name=".activity.news.FgdjActivity" />
        <activity android:name=".activity.news.FgdjDetailActivity" />
        <activity android:name=".activity.news.GzqActivity" />
        <activity
            android:name=".activity.news.NewsFindActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.left.LeftListActivity" />
        <activity android:name=".activity.left.LeftListActivity2" />
        <activity android:name=".activity.left.LeftDetailActivity" />
        <activity android:name=".activity.left.LeftDetailActivity2" />
        <activity
            android:name=".activity.left.LeftFindActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.left.LeftFindActivity2"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.support.SupportDetailActivity" />
        <activity
            android:name=".activity.support.SupportFindActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity android:name=".activity.enterprise.EnterpriseDetailActivity" />
        <activity
            android:name=".activity.enterprise.EnterpriseFindActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.mine.AboutActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />

        <!-- dialog -->
        <activity android:name=".activity.support.EnterpriseActivity" />
        <activity android:name=".activity.support.EntrepreneurshipActivity" />
        <activity android:name=".activity.support.ChuangyeActivity" />
        <activity android:name=".activity.support.FeiGongDangTuanJianActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegisteActivity" />
        <activity android:name=".activity.jzfp.jzfpActivity" />
        <activity android:name=".activity.jzfp.jzfptzInfoActivity" />
        <activity android:name=".activity.jzfp.WyfpActivity" />
        <activity android:name=".activity.jzfp.YqfpActivity" />
        <activity android:name=".activity.zxzp.grzpActivity" />
        <activity android:name=".activity.zxzp.qyzpActivity" />
        <activity android:name=".activity.zxzp.QyzpItemInfoActivity" />
        <activity android:name=".activity.jzfp.CityTzInfoActivity" />
        <activity android:name=".activity.jzfp.CountyTzInfoActivity" />
        <activity android:name=".activity.zxzp.cityInfoActivity" />
        <activity android:name=".activity.zxzp.zwItemInfoActivity" />
        <activity android:name=".activity.zxzp.TdjlActivity" />
        <activity android:name=".activity.jrtz.JrActivity" />
        <activity android:name=".activity.jrtz.jrtzActivity" />
        <activity android:name=".activity.left.NewLeftListActivity" />
        <activity android:name=".activity.jzfp.FpdtInfoActivity" />
        <activity android:name=".activity.jrtz.jralInfoActivity" />
        <activity android:name=".activity.zxzp.TdjlInfoActivity" />
        <activity android:name=".activity.CzPwdActivity"></activity>
        <activity android:name=".activity.jzfp.PhototViewActivity"/>
    </application>

</manifest>